* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  animation: fadeInAnimation ease 3s;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;  
  background-color: #ffffff;
  background-size: 100% 100%;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/* Navbar */

nav {
  top: 0;
  position: sticky;
  background: #e9edfd;
  padding-left: 50px;
  z-index: 100;
}
.logo {
  float: left;
  /*padding-left: 100px;*/
}
#logo {
  width: 67px;
  height: 65px;
}
nav .container {
  height: 67px;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background: #e9edfd;
  box-shadow: black;
}
nav .container {
  text-align: right;
}
nav .container ul li {
  display: inline-block;
}
nav .container ul li a {
  display: inline-block;
  font-family: cooper;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
nav .container ul li.active {
  background-color: yellow;
  border-radius: 17px;
  transition: 0.3 ease background-color;
}
nav .container ul li.active a {
  color: black;
}
nav .container ul li a:hover {
  color: yellowgreen;
  transition: 0.3 ease background-color;
}

.menu-toggle {
  color: blue;
  float: right;
  left: 90%;
  margin-top: 3px;
  line-height: 50px;
  font-size: 35px;
  cursor: pointer;
  display: none;
}
@media (max-width: 951px) {
  nav {
    padding-left: 20px;
  }
}
@media (max-width: 791px) {
  .menu-toggle {
    display: block;
    float: right;
    padding-right: 15px;
    color: black;
  }
  nav{
    padding-left:0;
  }
  
  nav header{
    position: absolute;
    top:0;
    width:100%;
    background-color: #e9edfd;
    display: block;
  }  
  nav .container {
    /*display: none;*/
    position: fixed;
    width: 100%;
    height: 50vh;
    top: 65px;
    left: -100%;
    background: #e9edfd;
    transition: 0.5s;
  }
  #logo{
    float: left;
  }  
  .container.active {
    left: 0;
  }
  nav .container ul li {
    display: flex;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.1);

  }
  nav .container ul li a {
    color: black;
    font-size: 20px;
  }
  nav .container ul li a:hover {
    width: 100%;
    color: black;
    background: none;
  }
  nav .container ul li {
    text-align: center;
  }
  .linkbtn{
    width: 95%;
  }  
}
section {
  height: 100vh;
  width: 100%;
  align-items: centre;
  line-height: 1.9;
  /* justify-content: center; */
  display: flex;
}

#about {
  height: 200vh;
  /*background: linear-gradient(to right top, #333333, #dd1818); */
  background-image: url(../images/blue-snow.png);
}
#contact {
   background-image: url(../images/Contact-Page-Background.png); 
}
#events {
  background: linear-gradient(to right top, #bc4e9c, #f80759);
}

/*///////////////////////////////////////////////////////////////////////////////*/
/* Home */

.header {
  padding: 0 3rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url(../images/background_pc.png);
  background-size: 100% 100%;
}

@media screen and (max-width: 1330) {
  .header {
    background-size: 100% 87%;
  }
}
@media screen and (max-width: 840px) {
  .header {
    background-image: url(../images/background_mobile.png);
    background-repeat: no-repeat;
    background-size: 101% 123%;
  }
}
@media screen and (max-width: 750px) {
  .header {
    background-image: url(../images/background_mobile.png);
    background-repeat: no-repeat;
    background-size: 101% 123%;
  }
}

.header__title {
  flex: 1;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr;
  row-gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: center;
  margin: auto 280px;
  margin-bottom: 150px;
}

.title__heading {
  font-size: 16rem;
  margin-bottom: -9rem;
  color: black;
  text-shadow: rgb(125, 175, 252) 5px 7px;
  font-family: 'Yeseva One', cursive;
}

.club__type {
  font-size: 2.8rem;
  font-weight: 500;
  grid-column: 1 / 2;
  color: rgb(26, 26, 190);
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: 'Bungee', cursive;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: rgb(115, 127, 236);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

@media screen and (max-width: 1050px) {
  .header__title {
    margin: auto 182px;
    margin-bottom: 82px;
  }
}
@media screen and (max-width: 940px) {
  .header__title {
    margin: auto 92px;
    margin-bottom: 82px;
  }
}

@media screen and (max-width: 840px) {
  .header__title {
    font-size: 10rem;
    margin: auto auto;
    margin-bottom: 275px;
  }
  .club__type {
    font-size: rem;
  }
}

@media screen and (max-width: 480px) {
  .title__heading {
    font-size: 10rem;
    margin-bottom: -6rem;
    text-shadow: rgb(125 175 252) 3px 4px;
  }
  .club__type {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 320px) {
  .title__heading {
    font-size: 8rem;
    margin-bottom: -5rem;
  }
  .club__type {
    font-size: 1.4rem;
  }
}

/*/////////////////////////////////////////////////////////////*/
/* Modal window */

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

.btn {
  display: inline-block;
  background-color: #ffff;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: 3px solid grey;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 5px 5px grey;
}

.btn:hover {
  background-color: #ececec;
}

/* CLASSES TO MAKE MODAL WORK */

.hidden {
  display: none;
}

.modal {
  width: 586px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-image: url(../images/bg.png);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
  font-family: 'Calistoga', cursive;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 182);
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
  font-family: 'Calistoga', cursive;
}

.close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1025px) {
  .modal__header {
    font-size: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .modal {
    width: 31rem;
    height: 47rem;
    padding: 10rem 2rem;
  }
  .modal__header {
    font-size: 2rem;
  }
  .modal__form label {
    font-size: 10px;
  }
  .modal__form input {
    font-size: 10.2px;
    padding: 6px 5px;
  }
  .btn {
    font-size: 12px;
    padding: 0.25rem 2.5rem;
    box-shadow: 2px 2px grey;
    border: 2px solid grey;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////// */
/* About Us */

.container1 {
    display: inline-block;
    position:relative;
  }

.container2 {
    display: block;
    width: 68%;
    text-align: center;
    font-family: 'Calistoga', cursive;
    color: #2943b8;
    font-size: 45px;
    padding: 50px 10px 20px 100px;
    height:60px;
  }
.para{
    font: 1.2em "Open Sans", sans-serif;
    color: #708090;
    font-size: 20px;
    /* padding: 1.5rem;
    margin-top: 2rem; */
    /* position: relative;
    display:inline-block; */
}


.heading{
    /* padding: 10px 256px;  */
    font-family: 'Calistoga', cursive;
    font-size: 50px;
    color: #2943b8;
}


.image{
    padding: 2rem 1rem 0rem 4rem; 
    max-width: 180px;
    margin: auto;
    display: block;
  }
 
.about-container{
    background-image: url("../images/blue-snow.png");
/*  text-align: center;  
    padding: 1px 5px;   */
} 
.item1 { grid-area: pn; }
.item2 { grid-area: au; }
.item3 { grid-area: pg; }
.item4 { grid-area: ss; }


.grid-container {
  background-image: url("images/blue-snow.png");
  text-align: center;  
  padding: 3rem 0rem 0rem 0rem; 
  display: grid;
  grid-template-columns: auto auto 200px 300px;
  grid-template-rows: 210px 300px;
  grid-template-areas:
    'pn au au au'
    'pg pg ss ss';
  grid-gap: 15px;
  padding: 10px;
}

/* .grid-container > div {
  text-align: center;
  padding: 20px 0px;
} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlide{
  width: 480px;
  height:290px;
}

/* The dots/bullets/indicators */
.dot {
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media(max-width:895px) {
  .container1{
    display: block;
    width: 60%;
    margin: 56px 0px;;
    align-items: center;
    position: relative;
    }
  .container2 {
    display: block;
    width: 110%;
    font-size: 260%;
    padding: 6.5rem 1rem 2rem 0rem;
    text-align:left;
    /* height:60px; */
  }
  .image{
    width: 90px;
    padding: 0px;
  }  
  .para{
    margin: 0rem;
    font-size: 95%;
  }

  .mySlide{
    width:90%;
    height: 50%;
  }

  .slideshow-container{
    align-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      'pn au au'
      'ss ss ss'
      'pg pg pg'
      'pg pg pg'
      'pg pg pg';
    grid-gap: 10px;
    /* padding: 10px; */
    grid-template-columns: 26% 34% 30%;
    grid-template-rows: 150px auto auto auto auto;
  }

  /* .grid-container > div {
    text-align: none;
    padding:0px;
  } */
}


/* ///////////////////////////////////////////////////////////////////////////////////// */
/* Contact Us */

.Contact-Page {
  line-height: 1.6;
  min-height: 80vh;
  display: grid;
  margin: auto;
  /* place-items: center; */
}

.Contact-Card { 
  background-image: url('../images/Contact-Card-Background.png');
  box-shadow: 0 0 35px rgba(10, 10, 10, 0.2);
  width: 100%;
  max-width: 1250px;
  display: flex;
  flex-direction: column;   
  text-align: center;
}

.Contact-Card:hover {
  transform: translateY(5px); 
}

.Information h1 {
  font-family: 'Eczar', serif; 
  margin-top:40px;
/*   margin-left: 12px; */
  margin-bottom: -7px;
}
.Information h2 {
  font-family: 'Calistoga', cursive;
  margin: 0.5;
  font-size:20px;
}
.content {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  margin: 0;
}

.social-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width:205px;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 10px;
}

.social-link {
  opacity: 0.7;
  font-size: 35px;
}
a.Instagram {
  color:#f90659;
}
.Insta:hover {
  transform: translateY(5px);
}
a.LinkedIn {
  color:#0e94ff;
}
.LIn:hover {
  transform: translateY(5px);
}
a.Twitter {
  color:#0fb4ff;
}
.Twtr:hover {
  transform: translateY(5px);

}
a.YouTube {
  color:red;
}
.Ytb:hover {
  transform: translateY(5px);
}
.social-link:hover,
.social-link:focus {
  opacity: 1;
}
@media (min-width:999px) {
  .Contact-Page {
    align-items: center;
  }
  .Contact-Card {
      flex-direction: row;
      width: 100%;
      /* margin-left: 250px; */
  }
  .Card-Image {
      margin-top: -60px;
      margin-left: 625px;
      margin-right: 30px;
      margin-bottom:130px;
  }
  .Info {
      margin-left: 5px;
      margin-bottom: -375px;
  }
  .Information {
      margin-left: 52px;
  }
  .Information h1 {
      text-align: left;
      margin-bottom: 14px;
  }
  .Information h2 {
      text-align: left;
      margin-top:0px;
      margin-bottom: 8px;
  }
  .content {
      text-align: left;
  }
  .social-list {
      margin-top: 50px;
      margin-left:-15px
  }
}
