html,body{margin:0;height:100%;}
body{
background-image:  url('../images/blue-snow.png');
background-size: cover;
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.layer{
  background: #ffde59;
  border: 2px  solid #000000;
  box-shadow: 15px 14px 5px 0 #ffbd59;
  height: 100vh;
  text-align: center;

  clip-path: polygon(0% 0%, /*left top */
                    calc(100% - 39px) -1px, /** right top start fold 40px = 2 times border width**/
                    100% 39px, /** right top end fold 40px = 2 times border width **/
                    100% 44px, /** right top move down 5px for box shadow offset down **/
                    calc(100% + 6px) 49px, /** right top move 6 right for clipping(shadow offset + spread), add 5 to 44 from top offset to follow fold angle **/
                    calc(100% + 6px)  calc(100% + 6px), /** right bottom   **/
                    0% calc(100% + 6px) /** left bottom  **/
                    );
}

.layer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  border-width: 0 20px 20px 0;
  border: 1px  solid #000000;
  border-color: #ffbd59;

  border-width: 20px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;

  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 2px 3px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
.layer > h1{
  padding-bottom:  60px;
  font-family: 'Calistoga';
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
}
.heading{
  display: none;
}
.pmpt > h1{
  font-size: 3rem;
  font-family: 'Calistoga';
  text-align: center;
}
.heading > h1{
  font-size: 3.5rem;
  font-family: 'Calistoga';
  text-align: center;
}
.box > h2 {
  text-align: center;
  font-size: 2.8rem;
  font-family: 'Open Sans';
}
.hand {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -20px;
}
.button {
   -webkit-border-radius: 29px;
   -moz-border-radius: 29px;
   border-radius: 29px;
   height: 100px;
   line-height: 43px;
   color: #000000;
   font-family: 'Calistoga';
   width: 415px;
   font-size: 2rem;
   font-weight: 400;
   padding: 16px;
   margin-left: 60px;
   margin-bottom: 20px;
   background-color: #E9EDFD;
   -webkit-box-shadow: 8px 9px 1px 0 #B7C1F4;
   -moz-box-shadow: 8px 9px 1px 0 #B7C1F4;
   box-shadow: 8px 9px 1px 0 #B7C1F4;
   border: solid #7C83FD 2px;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
}
span{
  font-size: 2rem;
  font-family: 'Open Sans';
}
@media only screen and (max-width: 719px) {
  span {
      font-size: 1.6rem;
    }
  .layer > h1 {
    font-size: 2rem;
    margin: 21px;
  }
  .layer {
    margin: 100px 100px;

  }
}
@media only screen and (max-width: 719px) {
  .heading {
  display: block;
  }
  .pmpt {
    display: none;
  }
}
@media only screen and (max-width: 719px) {
  .tpr {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}
.tpr{
  display: inline-flex;
}
.penguin {
    position: relative;
    left: 450px;
    bottom: 100px;
  }
@media only screen and (max-width: 600px) {
  .button {
      width: 70%;
      position: absolute;
      display: inline;
      margin-right: 10px;
    }
}
@media only screen and (max-width: 600px) {
  .penguin {
      width: 30%;
      position: relative;
      left: inherit;
    }
}
@media only screen and (max-width: 600px) {
  .hand {
      position: relative;
      left: 12px;
    }
}

    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 0px;
      background: #7C83FD;
      background-size: cover;
      border: 3px solid #f1f1f1;
      z-index: 9;
      padding: 40px;
      text-align: center;
      margin: 0px;
      height: 100%;
    }
    .btn{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border: 2px solid black;

    }
    .btn{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
    }
    .open-button{
      background-color: white;
      color: black;
      border: 2px solid #e7e7e7;
      padding: 10px;
      margin: 9px;
      border-radius: 50%;
    }
    .BUTTON_CHX {
       -webkit-border-radius: 37px;
       -moz-border-radius: 37px;
       border-radius: 37px;
       color: #0F1012;
       font-family: Arial;
       font-size: 24px;
       font-weight: 100;
       padding: 9px;
       background-color: #6AB0FF;
       -webkit-box-shadow: 5px 1px 20px 2px #000000;
       -moz-box-shadow: 5px 1px 20px 2px #000000;
       box-shadow: 5px 1px 20px 2px #000000;
       text-shadow: -8px 0 19px #FFFFFF;
       border: solid #0059A0 2px;
       text-decoration: none;
       display: inline-block;
       cursor: pointer;
       text-align: center;
    }

    .BUTTON_CHX:hover {
       border: solid #337FED 1px;
       background: #1E62D0;
       background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       border-radius: 20px;
       text-decoration: none;
    }
    .form-popup p{
      text-align: center;
      font-style: 'Open Sans';
      font-size: 1.1rem;
    }
ul{
  list-style-type: circle;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

